<form [formGroup]="myForm" (ngSubmit)="getCountry()" *ngIf="isHidden != 0" [@simpleFadeAnimation]>
  <label>
    <input formControlName="search" type="text" placeholder="Search..">
  </label>
  <button type="submit" class="button" [ngClass]="!myForm.valid ? 'buttonDisabled' : 'buttonActive'" [disabled]="!myForm.valid">Submit</button>
</form>
<div class="danger-text"  *ngIf="errorMessage != null" [@simpleFadeAnimation]>
  <span>
    No Such City
  </span>
</div>
<div *ngIf="differentCity.length != 0 " >
  <app-weather-component [howMany]="'alternative'"
                         [ngClass]="'alternateClass'"
                         [weatherOfTheCity]="differentCity">
  </app-weather-component>
</div>



