form{
 text-align: center;
}

.button{
  border: none;
  padding: 13px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonActive{
  background-color: #23b8e5;;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.buttonDisabled{
  background-color: #ffffff;
  color: #23b8e5;
}


.buttonActive:hover {
  background-color: #1E91B6;
  color: white;
}

app-weather-component{
  display: flex;
  justify-content: center;
}

input[type=text] {
  width: 50%;
  margin-top: 50px;
  margin-right: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px;
}
